/******************* */
/*   Global Styles   */
/******************* */

@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --blue: #32325d;
  --light-blue: #5460F4;
  --gray: #f5f6fa;
  --dark-gray: #464646;
  --brown: #CD4200;
  --white: #fff;
  --black: #000;
  --btn-border: 0.3rem;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
li,
a,
.btn {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 1rem;
  position: relative;
  z-index: 10;
}

a {
  display: block;
  text-decoration: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  margin-block: 7rem;
  display: block;
}

body {
  background: var(--gray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Raleway", Sans-serif;
}

.container,
footer {
  width: min(90%, 90rem);
}

/* Section */

section,
footer {
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-heading {
  text-align: center;
  color: var(--brown);
  font-size: 1.6rem;
}

.section-subtitle {
  text-align: center;
  color: var(--dark-gray);
}

.section-subheading {
  color: var(--light-blue);
  font-size: 1.1rem;
}

.section-content-container {
  margin-top: 1.5rem;
}

.section-content {
  max-height: 20rem;
  color: var(--dark-gray);
}

/* buttons */

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns > * + * {
  margin-left: 0.3rem;
}

.btn {
  background: linear-gradient(#000, rgb(136,136,136), #000);
  padding: 0.7rem 1.2rem;
  color: var(--white);
  border-radius: var(--btn-border);
  transition: all 0.3s;
}

.btn:hover,
.btn:active,
.btn:focus {
  transform: scale(0.8);
  box-shadow: 3px 3px 8px 2px rgb(0,0,0,0.2);
}

/* layout */
.light {
  background: var(--white);
  box-shadow: 3px 3px 18px 8px rgb(0,0,0,0.08);
}

#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}


/* header  */

header {
  background: var(--gray);
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  padding-block: 0.6rem;
}

.shadow {
  box-shadow: 3px 3px 8px 2px rgb(0,0,0,0.08);
}

.logo {
  max-width: 8rem;
  margin: 0;
}


/* navigation */

.menu-icon {
  font-size: 1.5rem;
}

.menu {
  width: 90%;
  max-height: 15rem;
  position: fixed;
  inset: 0;
  top: 4rem;
  background: var(--gray);
  margin-inline: auto;
  padding: 3rem;
  box-shadow: 3px 3px 8px 2px rgb(0,0,0,0.08);
  z-index: 0;
  transform: translateX(-100vw);
  transition: all 0.3s;
}

.show-menu {
  transform: translateX(0);
}

.rotate {
  color: red;
  transform: rotateY(40deg);
}

.menu-item {
  margin-bottom: 0.3rem;
  color: var(--dark-gray);
  transition: all 0.3s;
  position: relative;
}

.menu-item:hover,
.footer-menu-item:hover {
  color: var(--blue);
  transform: scale(1.02);
}

/*  hero section  */

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 12rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-content--hero {
  text-align: center;
}

.section-heading--hero {
  font-size: 2rem;
}

/* Features Section */
.feature {
  margin-top: 0.6rem;
  color: var(--dark-gray);
}

.extra-features {
  margin-top: 5rem;
}

.extra-feature {
  margin-top: 2rem;
}

/* Cta section */
#cta {
  position: relative;
  border-radius: 5rem 0 5rem 0;
  background: linear-gradient(60deg, #18dcf9, #3896fa);
  overflow: hidden;
}

.cta-heading {
  font-size: 1.5rem;
  color: var(--white);
}

.cta-subtitle {
  display: block;
  margin-bottom: 3rem;
  color: var(--brown);
}

.cta-img {
  display: none;
}


/* testimonial section */

.client {
  background: white;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 1.2rem;
  margin-top: 3rem;
  margin-inline: auto;
  padding: 2rem 1.5rem;
  box-shadow: 3px 3px 16px 5px rgb(0, 0, 0, 0.05);
  transition-duration: 0.3s;
}

.client:hover {
  box-shadow: 3px 3px 8px 2px rgb(0, 0, 0, 0.12);
}

.testimony {
  display: block;
  text-align: center;
  margin-block: 1.5rem;
  color: var(--dark-gray);
}

.client-name {
  font-size: 1.2rem;
  color: var(--brown);
  font-weight: 800;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.location {
  color: var(--black);
}

/* testimonial icon */

.fa-quote-right {
  font-size: 4rem;
  position: absolute;
  top: -2rem;
  right: 0.5rem;
  color: var(--brown);
  z-index: 10;
  animation-name: rotate;
  animation-duration: 3.5s;
  animation-direction: alternate;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotateY(45deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* subscription form */


#subscribe {
  background: var(--white);
  box-shadow: 3px 3px 8px 2px rgba(56,150,250,0.489);
}

.subscription-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

input {
  padding: 0.6rem 1rem;
  border: none;
  border: 2px black solid;
  color: black;
  border-radius: var(--btn-border);
}

input:focus,
input:hover,
input:active {
  outline: 2px #ff4c02 solid;
}

.btn-subscribe {
  background: linear-gradient(45deg, #ff4c02, #ff315b);
  border: none;
  border-radius: var(--btn-border);
  margin-top: 0.8rem;
}

.btn-subscribe > * + * {
  display: block;
  margin-right: 0.75rem;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* footer section */

footer {
  width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons > * + * {
  margin-left: 0.6rem;
}

.social-icon {
  font-size: 3rem;
  color: var(--brown);
  transition: all 0.3s;
}

.social-icon:hover {
  transform: scale(0.8);
}




/********************/

/*     Media Queries  */

/********************/

/* screen size with 688px maximum width */

@media (min-width: 688px) {



  /********************/

  /*  Global Styles   */
  /********************/

  img {
    margin: 0;
  }

  .split {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .split > * + * {
    margin-left: 2rem;
  }

  .split > * {
    flex-basis: 100%;
  }

  .order-one {
    order: 1;
  }

  .order-two {
    order: 2;
  }

  /* header section */

  .menu-icon {
    display: none;
  }

  .menu {
    transform: translateX(0);
    height: 0;
    background: transparent;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0;
    margin: 0;
    padding: 0;
  }

  .menu > * + * {
    margin-left: .8rem;
  }

  /* features section */

  #features .split {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 20rem;
  }

  .extra-feature {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .extra-feature > * {
    max-width: 50%;
    margin-inline: 0.5rem;
  }

  .extra-features .order-one {
    order: 1;
  }

  .extra-features .order-two {
    order: 2;
  }

  /* Cta section */

  .cta-img {
    max-width: 20rem;
    display: flex;
    animation-name: glide;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

@keyframes glide {
    0% {
      transform: translateY(-1rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  .subscription-form {
    flex-direction: row;
  }

  .btn-subscribe {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
  }

  /* testimonial section */

  #testimonials .split {
    flex-wrap: wrap;
  }

  .client {
    max-width: 20rem;
    margin-inline: 0.6rem;
  }
}